<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ page.title }} · {{ site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/site.css' | relative_url }}">
    <link rel="stylesheet" href="/lengua/assets/css/fonts.css?v=1">
    
    <!-- Favicons -->
<link rel="icon" type="image/svg+xml" href="{{ '/assets/icons/favicon.svg?v=4' | relative_url }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/icons/favicon-32x32.png?v=4' | relative_url }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/icons/favicon-16x16.png?v=4' | relative_url }}">
<link rel="apple-touch-icon" href="{{ '/assets/icons/apple-touch-icon.png?v=4' | relative_url }}">
<link rel="shortcut icon" href="{{ '/favicon.ico?v=4' | relative_url }}" type="image/x-icon">

  </head>
  <body class="page-{{ page.title | slugify }}">
    {% include cabeza.html %}
    <main id="contenido" role="main">
      {{ content }}
    </main>
    {% include pie.html %}
    <script src="{{ '/assets/js/menu_links.js' | relative_url }}" defer></script>
  </body>
</html>
